.special-card {
  display: grid;
  /* flex-direction: column;
  justify-content: space-between; */
  min-height: 220px;
  height: 100%;
  /* padding: 30px; */
  border-radius: 16px;
  background: #F4F6FA;
}

.special-card__content {
  padding: 30px;
}

.special-card__heading {
  margin: 0 0 8px;
  color: #1E222E;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}

.special-card__description {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.special-card--accent {
  background-color: #5E81FF;
}

.special-card--accent .special-card__heading,
.special-card--accent .special-card__description,
.special-card--accent .special-card__list {
  color: #ffffff;
}

.special-card--accent .special-card__list {
  list-style-type: disc;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  padding: 20px;
}

.special-card__list li {
  margin-bottom: 12px;
}

.special-card__content {
  grid-column: 1 / 3;
}

.special-card__image {
  grid-column-start: 1;
  margin: auto 0 0 0;
}

.special-card__link {
  width: 40px;
  height: 40px;
  grid-column-start: 2;
  margin: auto 30px 30px auto;
}
