.special-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 220px;
  padding: 20px 20px 0;
  border-radius: 16px;
  background: #F4F6FA;
}

.special-card__heading {
  margin: 0 0 8px;
  color: #1E222E;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;  
}

.special-card__description {
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.special-card--accent {
  background-color: #5E81FF;
}

.special-card--accent .special-card__heading,
.special-card--accent .special-card__description,
.special-card--accent .special-card__list {
  color: #ffffff;
}

.special-card--accent .special-card__list {
  list-style-type: disc;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  padding: 20px;
}

.special-card__list li {
  margin-bottom: 12px;
}